[Desktop Entry]
Name=Control Center
GenericName=Control Center editor
Comment=Configure your modular COSMIC control center
Type=Application
Icon=preferences-system
Exec=cosmic-ext-control-center
Terminal=false
StartupNotify=true
Categories=Settings;
Keywords=control;center;settings;cosmic;toggle;applet;modules;
StartupWMClass=com.pyxyll.CosmicExtControlCenter
