[Desktop Entry]
Name=Control Center
Comment=Modular, pluggable control center
Type=Application
Exec=cosmic-ext-control-center-applet
Icon=emblem-system-symbolic
Terminal=false
Categories=COSMIC;
X-CosmicApplet=true
NoDisplay=true
